body {
    font-family: "Rubik";
    position: relative;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
}

.logo a {
    display: flex;
    flex-direction: column;
    color: rgb(94, 101, 107);
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.logo span:nth-child(1) {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 3px;
    opacity: 0.8;
}

.logo span:nth-child(2) {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
}

.logo a:hover {
    color: black;
}

/* Header contact */
#contact-links {
    color: white;
    background-color: rgb(0, 119, 219);
    padding: 10px;
}

#contact-links a {
    color: white;
}

#contact-links ul {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

#contact-links li {
    display: flex;
    align-items: center;
    margin-right: 5px;
    cursor: pointer;
}

#contact-links li:nth-child(1) {
    margin-right: auto;
    font-size: 15px;
    font-weight: 700;
}

#contact-links li:nth-child(2),
#contact-links li:nth-child(3) {
    margin-right: 25px
}

#contact-links i {
    margin-right: 5px;
    font-size: 16px;
}

#contact-links li:last-of-type,
#contact-links li:last-of-type i {
    margin: 0;
}

/* Header */
#menu {
    padding: 25px 10px 20px;
}

#menu ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

#menu li:nth-child(1) {
    margin-right: auto;
}

#menu a {
    color: rgb(154, 173, 191);
    transition: all 0.2s ease;
    text-transform: uppercase;
}

#menu a:hover {
    text-decoration: none;
    color: black;
}

#menu a.active {
    color: black;
}

/* Home */
#inicio {
    height: 580px;
    position: relative;
    overflow: hidden;
}

#inicio img {
    position: absolute;
    top: 0;
    left: calc(50% - 960px);
    width: 1920px;
}

#inicio .home-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    padding: 15px;
    position: absolute;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 8px 15px 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

#inicio .home-text>*:nth-child(1) {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
}

#inicio .home-text>*:nth-child(2) {
    font-size: 18px;
    line-height: 18px;
}

/* Services */
#servicios .services-titles{
    text-align: center;
    margin: 80px 0 80px;
}

#servicios .services-titles>*:nth-child(1){
    font-family: "Poppins";
    font-size: 32px;
    font-weight: 800;
    line-height: 48px;
}

#servicios .services-titles>*:nth-child(2), #servicios .services-titles>*:nth-child(3){
    color: rgb(119, 119, 119);
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

#servicios ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-items: flex-start;
    margin-bottom: 80px;
}

#servicios li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 33%;
    padding: 0 15px;
}

#servicios li>*:nth-child(2) {
    font-family: "Poppins";
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
    white-space: nowrap;
}

#servicios li>*:nth-child(3) {
    color: rgb(119, 119, 119);
    font-size: 15px;
    margin-bottom: 20px;
}

/* Detail */
#detalle {
    text-align: center;
    font-family: "Poppins";
    padding: 80px 0;
    border-bottom: 80px solid #0077db;
}

#detalle p:nth-child(1) {
    font-size: 28px;
    font-weight: 100;
    line-height: 42px;
    margin-bottom: 30px;
}

#detalle p:nth-child(2) {
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
}

/* Videos */
#videos {
    background-image: url(/assets/imgs/videos-bg1.png), url(/assets/imgs/videos-bg2.png);
    background-position: left top, left bottom;
    background-repeat: no-repeat;
    font-family: "Poppins";
    padding: 350px 0;
}

#videos>div {
    display: flex;
    flex-direction: column;
    gap: 100px;
}

#videos .video:nth-child(2) {
    flex-direction: row-reverse;
}

#videos .col-6:nth-child(2) {
    padding: 15px;
}

.video {
    align-items: center;
}

.video .descripcion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.video p:nth-child(1) {
    color: rgb(35, 49, 65);
    font-size: 28px;
    font-weight: 700;
}

.video p:nth-child(2) {
    color: rgb(35, 49, 65);
    font-size: 20px;
}

.video p:nth-child(3) {
    color: rgb(119, 119, 119);
    font-size: 15px;
}

.video button, .video a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    padding: 11px 16px;
    border-radius: 5px;
    background-color: rgb(90, 161, 227);
    border: none;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

/* Marcas */
#marcas {
    padding: 100px 0;
    background-color: #0077db;
    font-family: "Poppins";
}

#marcas h2 {
    color: white;
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
}

#marcas ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: auto;
}

#marcas li {
    width: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    filter: grayscale(1);
    height: 120px;
    line-height: 120px;
}

#marcas li.surrey img, #marcas li.philco img {
    filter: invert(100%);
}

#marcas img {
    width: 80px;
}

/* Contacto */
#contacto {
    padding-top: 80px;
}

#contacto hr {
    margin: 40px 0 0 0;
}

#contacto div:nth-child(2){
    display: flex;
    justify-content: center;
    gap: 30px;
}

#contacto h3{
    color: rgb(35, 49, 65);
    font-size: 28px;
    line-height: 28px;
    font-weight: 600;
}

#contacto iframe {
    margin-top: 80px;
    width: 80%;
    border-radius: 5px;
}

/* Detail */
#detalle2 {
    text-align: center;
    font-family: "Poppins";
    padding: 50px 0;
    border-bottom: 80px solid #0077db;
}

#detalle2 p:nth-child(1) {
    font-size: 28px;
    font-weight: 100;
    line-height: 42px;
    margin-bottom: 30px;
}

#detalle2 p:nth-child(2) {
    font-size: 40px;
    font-weight: 600;
    line-height: 55px;
}

/* Footer */
.footer {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    font-family: "Poppins";
}

.footer li div {
    line-height: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer ul li {
    font-size: 14px;
    color: rgb(134, 143, 154);
    line-height: 16px;
    cursor: pointer;
}

.footer ul a {
    text-decoration: none;
    color: rgb(134, 143, 154);
}

.footer ul i {
    font-size: 16px;
    color: black;
    margin-right: 5px;
}

#whatsapp-fixed {
    position: fixed;
    bottom: 50px;
    right: 50px;
}

#whatsapp-fixed a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 13px;
    background-color: #005C4B;
    border-radius: 50%;
    text-decoration: none;
}

#whatsapp-fixed i {
    font-size: 40px;
    color: #ffffff;
}

@media (max-width: 768px) {
    #contact-links {
        display: none;
    }

    #menu .logo {
        width: 100%;
    }

    #menu ul {
        justify-content: center;
        flex-wrap: wrap;
    }

    #servicios ul {
        flex-direction: column;
        align-content: center;
    }

    #servicios li {
        width: 100%;
    }

    #servicios li>*:nth-child(3) {
        font-size: 20px;
    }

    .video .descripcion {
        padding-top: 15px;
        justify-content: center;
        gap: 15px;
        text-align: center;
        align-items: center;
    }

    #contacto div:nth-child(2){
        flex-direction: column;
    }
    
    #contacto iframe {
        width: 100%;
    }

    .footer {
        flex-wrap: wrap;
        gap: 30px;
    }
}

@media (max-width: 576px) {
    #menu ul {
        gap: 20px;
    }

    #inicio img {
        position: absolute;
        top: 0;
        left: calc(50% - 760px);
        width: 1520px;
    }

    #servicios .services-titles>*:nth-child(1) {
        font-size: 30px;
        line-height: 30px;
        margin-bottom: 15px;
    }

    #detail p:nth-child(2) {
        font-size: 35px;
    }

    #whatsapp-fixed {
        position: fixed;
        bottom: 30px;
        right: 25px;
    }
}